:root{
    --blue_black--: #090c17;
    --blue_black_01--: #12141c;
    --white--:#fff; 
    --orange--:#f26c4f;
  
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    transition: 2s;
}
body{
    background-color: var(--blue_black--);
}

/*===========the navigation bar ==========*/
@font-face{
    font-family: haile;
    src: url(Fuggles-Regular.ttf);
    font-size: 20px;
}
@font-face{
    font-family: allfont;
    src: url(Montserrat-ExtraLight.ttf);
    
}
.nav_container{
      background-color:var(--blue_black_01--);
      padding: 30px 30px;
      position: fixed;     
      right: 0vh;
      padding: 12vh 150vh;
      padding-top: 0vh;


      
}
.nav_icon{
    font-family: haile;
    font-size: 35px;
    color: var(--blue_black--);
    padding: 5px 5px;
    background-color: var(--orange--);
    border-radius: 10px;
    border: 1px solid black;
    position: fixed;
    left: 100px;
    top:50px;   
}
.nav_links{
    position: fixed;
    right: 10px;
    top:30px;
}

.nav_links nav a{
    margin-left: 20px;
    text-decoration: none;
    color: var(--white--);
    font-size: 15px;
    font-family: allfont;
    padding: 8px 20px;
   
}
.nav_links nav a:hover{
    transition: 0.5s ease-in-out;
    border:2px solid #f26d4fcb;
    color: #f26d4fcb;
    
   
}

/*==========Home page============*/
.home{
   padding-top: 80px;

}
.home_name{
    padding:50px 50px;
    margin-top: 50px;
    color: var(--white--);
}
.home_container{
     display: flex;
     justify-content: space-between;
}
.home_image{
     animation: bounce 1.5s;
     animation-direction: alternate;
     animation-iteration-count: infinite;
     z-index: -1;
}
@keyframes bounce {
    from{
        transform: translate3d(0,0,0);
    }
    to{
        transform: translate3d(0,10px,0);
    }
}

.home_info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_name{
    margin-left: 200px;
}
.home_name h1{
    font-family:allfont;
    font-size: 40px;
    padding-bottom: 20px;
}
.home_name p{
    font-family: allfont;
    font-size: 20px;
    padding-left: 50px;
}
.me{
    color: var(--orange--);
    border:2px solid var(--orange--);
}

/* ===========about page========== */

.about_container{
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
    font-family: allfont;
}
.about_svg{
    margin-top: 50px;
    animation: bounce 1.5s;
     animation-direction: alternate;
     animation-iteration-count: infinite;
     z-index: -1;
    
}
.about_info{
    margin-top: 100px;
    color: var(--white--);
    display: flex;
    justify-content: space-between;
}
.info_1 .box{
    position: relative  ;
    padding: 5px 10px;
    margin-left: 200px;
    margin-right: 90px;
    right: 200px;
    top: 50px;
    border-radius: 10px;
    padding: 5px 10px;
    border:2px solid var(--orange--)
}
.info_1 .ib{
    background-color: var(--orange--);
    border: 2px solid var(--blue_black--);

}
.info_1{
    margin-right: 30px;
}
.info_1 h1{
    padding-bottom: 40px;
}
.info_1 b{
    color: var(--orange--);
}
.info_2{
    margin-top: 40px;
}
.info_2 p{
    margin-bottom: 10px;
}
.info_2 b{
    color: var(--orange--);
}
.info_2 a{
    text-decoration: none;
    color: #fff;
}

/* ======skills ========== */

.skill_container{
    font-family: allfont;
    color: var(--white--);
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}
.skill_info{
    margin-top: 150px;
    margin-left: 150px;
    padding-left: 20px;
    padding-right: 20px;
}
.skill_svg{
    animation: bounce 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    z-index: -1;
}
.info_title{
    margin-bottom: 20px;
}
.info_title b{
    color: var(--orange--);
}
.skill_info h4{
    margin-bottom: 10px;
}
.i{
    display: flex;
    justify-content: space-between;
   
}
.i h4{
    padding-right: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.i p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.html{
    display: block;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #000;
    background-color: var(--orange--);
    padding: 5px 10px;
    width: 100%;
    animation: html 3s;
}
.css{
    display: block;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #000;
    background-color: var(--orange--);
    padding: 5px 10px;
    width: 95%;
    animation: css 3s;
}
.java{
    display: block;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #000;
    background-color: var(--orange--);
    padding: 5px 10px;
    width: 80%;
    animation: java 3s;
    }
.php{
    display: block;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #000;
    background-color: var(--orange--);
    padding: 5px 10px;
    width: 40%;
    animation: php 3s;
}
.b{
    border-radius: 10px;
    box-shadow: 0px 1px 3px var(--orange--),0px 1px 2px var(--orange--);      
    
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}
@keyframes java {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes php {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

/* =======contact page======== */
.contact_container{
    display: flex;
    justify-content: space-between;
    color: var(--white--);
    font-family: allfont;
}
.contact_info{
     display: flex;
     justify-content: space-evenly;
     font-family: allfont;
     margin-right: 200px;
     margin-top: 200px;
}
.s{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    background-color: var(--blue_black_01--);
    margin-bottom: 150px; 
    padding-left: 60px; 
    padding-top: 40px;
    transition: 0.5s;
    box-shadow: -3px -3px 7px rgb(2, 2, 2);
}
.contact_svg{
    animation: bounce 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    z-index: -1;
}
.s b{
    position: relative;
    top: 70px;
    left:-50px;
}
.s a{
    text-decoration: none;
    color: var(--white--);
}
.s a i{
    font-size: 40px;
}

.s:hover{
    background-color: var(--orange--);
    border-radius: 50%;
    box-shadow: 2px 5px 2px var(--blue_black_01--);
}

/* ======footer======= */
.upper_f{
    background-color: var(--blue_black_01--);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: allfont;
    padding-top: 40px;
    padding-bottom: 40px;
}
.p{
    margin-bottom: 20px;
}
.low_f{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000;
    color: var(--white--);
    font-family: allfont;
    display: flex;
    justify-content: center;
}